body {
  margin-top: 30px;
  background-image: url('../img/empty-space.jpg');
}

#window {
  /*height: 100px; */ will adjust height of window image when console is repositioned
}

#trapezoid {
	border-bottom: 25em solid lightgrey;
	border-left: 25em solid transparent;
	border-right: 25em solid transparent;
	height: 30em;
	width: 81em;
  position: fixed;
  margin-top: 40em;
}

#triangle-left {
	width: 0em;
	height: 0em;
	border-top: 15em  solid transparent;
	border-right: 35em solid lightgrey;
	border-bottom: 35em solid transparent;
  margin-left: 55em;
  margin-top: 35em;
  position: fixed;

}

#triangle-right {
	width: 0em;
	height: 0em;
	border-top: 15em solid transparent;
	border-left: 35em solid lightgrey;
	border-bottom: 35em solid transparent;
  margin-top: 35em;
  margin-left: -8.4em;
  position: fixed ;
}

#goat {
  border: 2px solid green;
  height: 20px;
  width: 20px;
}

#hologram{
  border: 3px solid yellow;
  height: 20px;
  width: 20px;
}

#switchColor{
  border: 3px solid blue;
  height: 20px;
  width: 20px;
}

#nameInput {
  border: 3px solid black;
  height: 20px;
  width: 20px;
}

#teleporter {
  border: 3px solid red;
  height: 20px;
  width: 20px;
}
