html {
  height: 100%;
}

body {
  background-image: url("../img/empty-space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  margin-top: 0;

}

#creature {
  display: none;
  position: absolute;
  top: 35em;
  left: 100em;
}

#merman {
  display: none;
  position: absolute;
  top: 20em;
  left: 55em;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: transparent;
  height: 150%;
}

.sidenav img {
  width: 28em;
}

#teleporter {
  margin-right: 12em;
  position: relative;
}

/* Set black background color, white text and some padding */
footer {
  background-color: transparent black;
  color: white;
  padding: 15px;

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

#goat {
  border: 3px solid green;
  background-color: lightgreen;
  height: 35%;
  width: 50%;
  margin: 10% 10% 5% 7%;
}


#hologram {
  border: 3px solid gold;
  background-color: lightyellow;
  height: 35%;
  width: 50%;
  margin: 10% 10% 5% 13%;
  text-align: center;
}

#switchColor {
  border: 3px solid blue;
  background-color: lightblue;
  height: 35%;
  width: 50%;
  margin: 10% 10% 0% 23%;
}

#communicator {
  border: 3px solid red;
  background-color: pink;
  height: 35%;
  width: 50%;
  margin: 10% 10% 0% 35%;
  text-align: center;
}

#stop-audio {
  border: 3px solid 132,243,127,1.00);
  background-color: pink;
  height: 20%;
  width: 20%;
  margin: 10% 25% 0% 35%;
  text-align: center;
}

#name {
  display: none;
  border: 3px solid black;
}

#communication-output {
  display: none;
  padding-top: 5%;
  border: 3px solid black;
  background-color: black;
  height: 100%;
  width: 100%;
  color: green;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
}

.well {
  height: 22%;
  background-color: lightgrey;
}

#trapezoid1 {
 border-bottom: 25em solid black;
 border-left: 25em solid transparent;
 border-right: 25em solid transparent;
 height: 30em;
 width: 170em;
 position: fixed;
 margin-top: 10em;
 margin-left: -45em;
}

#trapezoid2 {
 border-bottom: 25em solid grey;
 border-left: 25em solid transparent;
 border-right: 25em solid transparent;
 height: 20em;
 width: 140em;
 position: fixed;
 margin-top: 10em;
 margin-left: -10em;
}

#triangle-left1 {
 width: 0em;
 height: 0em;
 border-top: 20em  solid transparent;
 border-right: 35em solid black;
 border-bottom: 35em solid transparent;
 margin-left: 97.2em;
 margin-top: 0em;
 position: fixed;
}

#triangle-right1 {
 width: 0em;
 height: 0em;
 border-top: 20em solid transparent;
 border-left: 35em solid black;
 border-bottom: 35em solid transparent;
 margin-top: 0em;
 margin-left: -50.7em;
 position: fixed;

}

#hologram-area {
  height: 100%;
}

#hologram-area * {
  position: absolute;
  margin: 0;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

#goatdiv {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 50%;
  transform: translateX(50%);
}

#goat-image {
  border-radius: 600px;
  border: 10px double black;
}


* {
    margin: 0;
    padding: 0;
  	-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		width: 100%;
		height: 100%;
		font-family: "helvetica neue", helvetica, arial, sans-serif;
		font-size: 13px;
		text-align: center;
		/*background: #333 url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/low_contrast_linen.png');*/
	}

	ul {
		margin: 30px auto;
		text-align: center;
	}

	li {
		list-style: none;
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
	}

	@-moz-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-webkit-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@-o-keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	@keyframes rotate {
		0% {transform: rotate(0deg);}
		100% {transform: rotate(-360deg);}
	}

	.round {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 70%;
		height: 70%;
		padding-top: 30px;
		text-decoration: none;
		text-align: center;
		font-size: 25px;
		text-shadow: 0 1px 0 rgba(255,255,255,.7);
		letter-spacing: -.065em;
		font-family: "Hammersmith One", sans-serif;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		box-shadow: 2px 2px 7px rgba(0,0,0,.2);
		border-radius: 300px;
		z-index: 1;
		border-width: 4px;
		border-style: solid;
	}

	.round:hover {
		width: 300%;
		height: 300%;
		left: -15%;
		top: -15%;
		font-size: 33px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

  .round2:hover {
		width: 40%;
		height: 40%;
		left: 35%;
		top: 35%;
		font-size: 25px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: -2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}

	a.red {
		background-color: rgba(239,57,50,1);
		color: rgba(133,32,28,1);
		border-color: rgba(133,32,28,.2);
	}

	a.red:hover {
		color: rgba(239,57,50,1);
    border-color: rgba(133,32,28,.2);
	}

	a.green {
		background-color: rgba(1,151,171,1);
		color: rgba(0,63,71,1);
		border-color: rgba(0,63,71,.2);
	}

	a.green:hover {
		color: rgba(1,151,171,1);
    border-color: rgba(0,63,71,.2);
	}

	a.yellow {
		background-color: rgba(252,227,1,1);
		color: rgba(153,38,0,1);
		border-color: rgba(153,38,0,.2);
	}

	a.yellow:hover {
		color: rgba(252,227,1,1);
	}

  a.pink {
    background-color: rgba(237,155,127,1.00);
    color: rgba(132,243,127,1.00);
    border-color: rgba(132,243,127,1.00);
  }

  a.pink:hover {
    color: rgba(252,5,127,1.00);
    border-color: rgba(56,105,127,1.00);
  }

	.round span.round {
		display: block;
		opacity: 0;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		font-size: 1px;
		border: none;
		padding: 40% 20% 0 20%;
		color: #fff;
	}

	.round span:hover {
		opacity: .95;
		font-size: 16px;
		-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		-o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
	}

	.green span {
		background: rgba(0,63,71,.7);
	}

	.red span {
		background: rgba(133,32,28,.7);
	}

	.yellow span {
		background: rgba(161,145,0,.7);
  }

  .pink span {
  		background: rgba(47,23,127,1.00);

	}
